<html>
<head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <title>Address Book 2.0</title>
</head>
<body class='bg-success'>
    <div class='container'>
        <div class="jumbotron">
            <h1>Address Book</h1>
            <h2>Contacts have been cleared!</h2>
        </div>
        <form action='/'>
            <button type='submit' class='btn btn-success'>Start Over</button>
        </form>
    </div>
</body>
</html>
