<html>
<head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <title>Address Book: New Contact</title>
</head>
<body>
    <div class='container'>
        <h1>Address book cleared!</h1>
        <form action='/'>
            <button type='submit' name='btn'>Start Over</button>
        </form>
    </div>
</body>
</html>
