<html>
  <head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <title>Address Book: Delete Confirmed</title>
  </head>
  <body>
    <div class='container'>
        <div class="jumbotron">
            <h1>Address Book</h1>
        </div>
        <h2>You have deleted the contact from the address book!</h2>

        <form action='/'>
        <button type='submit' class='btn btn-success'>View All Contacts</button>
      </form>
    </div>
  </body>
</html>
